<!DOCTYPE html>
<html>
    <head>
        <title>Farm data analyzer</title>
    </head>
    <body>
        <h1>Farm data analyzer</h1>

        <form method="POST" action="/getstatistics">
            <select name="select_farm">
                <option>Choose farm.</option>
                <option value="Friman Metsola collective">Friman Metsola collective</option>
                <option value="Nooras farm">Nooras farm</option>
                <option value="Organic Ossis Impact That Lasts plantase">Organic Ossis Impact That Lasts plantase</option>
                <option value="PartialTech Research Farm">PartialTech Research Farm</option>
            </select>
            <input type="radio" name="sensorType" id="tempera" value="temperature">
            <label for="tempera">temperature</label>
            <input type="radio" name="sensorType" id="rainFall" value="rainFall">
            <label for="rainFall">rainFall</label>
            <input type="radio" name="sensorType" id="pH" value="pH">
            <label for="pH">pH</label>
            <br>
            <label for="start_date">from:</label>
            <input type="date" id="start_date" name="start_date">
            <br>
            <label for="end_date">to:</label>
            <input type="date" id="end_date" name="end_date">
            <br>
            <button type="submit">GET STATISTICS!</button>
        </form>

        <% if (result) { %>

            <p>The <%= farm %>'s <%= sensortype %> statistics between <%= startdate %> and <%= enddate %> are:</p>
            <table>
                <tr><td>min value</td><td>max value</td><td>average value</td></tr>
                <tr><td><%= result.min %></td><td><%= result.max %></td><td><%= result.average %></td></tr>
            </table>

            <h3>Monthly averages:</h3>
            <table>
                <tr><td>year</td><td>month</td><td>average</td></tr>
                <% for (let i = 0; i < monthly_documents.length; i++) { %>
                <tr><td><%= monthly_documents[i].year %></td><td><%= monthly_documents[i].month %></td><td><%= monthly_documents[i].avg %></td></tr>
                <% } %>
            </table>
        <% } %>

    </body>
</html>